@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@300;400&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.title_heading{
  font-family: 'Playfair Display', serif;
  color: #333333;
  text-transform: uppercase;
}
body{
  background-color: #fffdf9;
}


.title_paragraph{
  font-family: 'Lora', serif;
  
}

.item_name{
  font-family: 'Playfair';


}
.item_desc{
font-family: 'Poppins';

}
.item_prize{
font-family: 'Montserrat';

}
/* Ensure the slick slider container has proper positioning */
.slick-slider {
  position: relative; /* Make sure the container is positioned */
  overflow: hidden; /* Prevents arrows from overflowing */
}

/* Arrow styles */
.slick-prev,
.slick-next {
  z-index: 20;
  position: absolute;
  top: 50%; /* Centers arrows vertically */
  transform: translateY(-50%); /* Ensures perfect vertical centering */
  width: 50px;
  height: 50px;
}

/* Custom left arrow */
.slick-prev {
  left: 10px;
   /* Adjust distance from the left */
}

/* Custom right arrow */
.slick-next {
  right: 10px; /* Adjust distance from the right */
}

/* Styling arrows */
.slick-prev:before,
.slick-next:before {
  /* Ensure arrows are being rendered */
  color: black !important; /* Change arrow color to black */
  font-size: 60px !important; /* Adjust size */
  background: transparent !important; /* Ensure no background */
  
}

.section_name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 35px;
}